.div-center {
	margin : 0 auto;
}  

.border-rad {
	-webkit-border-radius: 10px;
  		   -moz-border-radius: 10px;
		    border-radius: 10px;
}

.div-padding {
	padding : 15px;
}

.width-30 {
	width : 30%;
}

.inblock {
	display : inline-block;
}

.txt-center {
	text-align : center;
}
