/*Team Emergency*/
/*Gradation.me*/
/*Made by WooGenius*/
/*For Box Sizing*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.container {
  margin: 0 auto;
  padding: 0 10px;
}
/*For Container*/
div.container {
  width: 100%;
}
/*For Row*/
div.row {
  width: 100%;
  overflow: auto;
  zoom: 1;
  padding: 20px 0px;
}
/*For Column*/
div.row > .col-xs-12 {
  float: left;
  width: 100%;
}
div.row > .col-xs-11 {
  float: left;
  width: 91.6666667%;
}
div.row > .col-xs-10 {
  float: left;
  width: 83.3333333%;
}
div.row > .col-xs-9 {
  float: left;
  width: 75%;
}
div.row > .col-xs-8 {
  float: left;
  width: 66.6666667%;
}
div.row > .col-xs-7 {
  float: left;
  width: 58.3333333%;
}
div.row > .col-xs-6 {
  float: left;
  width: 50%;
}
div.row > .col-xs-5 {
  float: left;
  width: 41.6666667%;
}
div.row > .col-xs-4 {
  float: left;
  width: 33.3333333%;
}
div.row > .col-xs-3 {
  float: left;
  width: 25%;
}
div.row > .col-xs-2 {
  float: left;
  width: 16.6666667%;
}
div.row > .col-xs-1 {
  float: left;
  width: 8.3333333%;
}
/*For more than 768px*/
@media all and (min-width: 768px) {
  /*For Container*/
  div.container {
    width: 750px;
  }
  /*For Column*/
  div.row > .col-sm-12 {
    float: left;
    width: 100%;
  }
  div.row > .col-sm-11 {
    float: left;
    width: 91.6666667%;
  }
  div.row > .col-sm-10 {
    float: left;
    width: 83.3333333%;
  }
  div.row > .col-sm-9 {
    float: left;
    width: 75%;
  }
  div.row > .col-sm-8 {
    float: left;
    width: 66.6666667%;
  }
  div.row > .col-sm-7 {
    float: left;
    width: 58.3333333%;
  }
  div.row > .col-sm-6 {
    float: left;
    width: 50%;
  }
  div.row > .col-sm-5 {
    float: left;
    width: 41.6666667%;
  }
  div.row > .col-sm-4 {
    float: left;
    width: 33.3333333%;
  }
  div.row > .col-sm-3 {
    float: left;
    width: 25%;
  }
  div.row > .col-sm-2 {
    float: left;
    width: 16.6666667%;
  }
  div.row > .col-sm-1 {
    float: left;
    width: 8.3333333%;
  }
}
/*For more than 992px*/
@media all and (min-width: 992px) {
  /*For Container*/
  div.container {
    width: 970px;
  }
  /*For Column*/
  div.row > .col-md-12 {
    float: left;
    width: 100%;
  }
  div.row > .col-md-11 {
    float: left;
    width: 91.6666667%;
  }
  div.row > .col-md-10 {
    float: left;
    width: 83.3333333%;
  }
  div.row > .col-md-9 {
    float: left;
    width: 75%;
  }
  div.row > .col-md-8 {
    float: left;
    width: 66.6666667%;
  }
  div.row > .col-md-7 {
    float: left;
    width: 58.3333333%;
  }
  div.row > .col-md-6 {
    float: left;
    width: 50%;
  }
  div.row > .col-md-5 {
    float: left;
    width: 41.6666667%;
  }
  div.row > .col-md-4 {
    float: left;
    width: 33.3333333%;
  }
  div.row > .col-md-3 {
    float: left;
    width: 25%;
  }
  div.row > .col-md-2 {
    float: left;
    width: 16.6666667%;
  }
  div.row > .col-md-1 {
    float: left;
    width: 8.3333333%;
  }
}
/*For more than 1200px*/
@media all and (min-width: 1200px) {
  /*For Container*/
  div.container {
    width: 1170px;
  }
  /*For Column*/
  div.row > .col-lg-12 {
    float: left;
    width: 100%;
  }
  div.row > .col-lg-11 {
    float: left;
    width: 91.6666667%;
  }
  div.row > .col-lg-10 {
    float: left;
    width: 83.3333333%;
  }
  div.row > .col-lg-9 {
    float: left;
    width: 75%;
  }
  div.row > .col-lg-8 {
    float: left;
    width: 66.6666667%;
  }
  div.row > .col-lg-7 {
    float: left;
    width: 58.3333333%;
  }
  div.row > .col-lg-6 {
    float: left;
    width: 50%;
  }
  div.row > .col-lg-5 {
    float: left;
    width: 41.6666667%;
  }
  div.row > .col-lg-4 {
    float: left;
    width: 33.3333333%;
  }
  div.row > .col-lg-3 {
    float: left;
    width: 25%;
  }
  div.row > .col-lg-2 {
    float: left;
    width: 16.6666667%;
  }
  div.row > .col-lg-1 {
    float: left;
    width: 8.3333333%;
  }
}
