/*Team Emergency*/
/*Gradation.me*/
/*Made by WooGenius*/

/*For Box Sizing*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

div.container {
	margin: 0 auto;
	padding: 0 10px;
}

/*For Container*/
div.container {
	width: 100%;
}
/*For Row*/
div.row {
	width: 100%;
	overflow: auto;
	zoom: 1;
	padding: 20px 0px;
}

/*For Column*/
#columns (@i) when (@i > 0) {
    & > .col-xs-@{i} {
    	float: left;
        width: round( percentage( ( @i/12 ) ), 7 );
    }
    #columns (@i - 1);
}
#columns (0) {}

div.row {
	#columns(12);
}

/*For more than 768px*/
@media all and (min-width: @screen-sm) {
	/*For Container*/
	div.container {
		width: 750px;
	}
	/*For Column*/
	#columns (@i) when (@i > 0) {
	    & > .col-sm-@{i} {
	    	float: left;
	        width: round( percentage( ( @i/12 ) ), 7 );
	    }
	    #columns (@i - 1);
	}
	#columns (0) {}

	div.row {
		#columns(12);
	}
}

/*For more than 992px*/
@media all and (min-width: @screen-md) {
	/*For Container*/
	div.container {
		width: 970px;
	}
	/*For Column*/
	#columns (@i) when (@i > 0) {
	    & > .col-md-@{i} {
	    	float: left;
	        width: round( percentage( ( @i/12 ) ), 7 );
	    }
	    #columns (@i - 1);
	}
	#columns (0) {}

	div.row {
		#columns(12);
	}
}

/*For more than 1200px*/
@media all and (min-width: @screen-lg) {
	/*For Container*/
	div.container {
		width: 1170px;
	}
	/*For Column*/
	#columns (@i) when (@i > 0) {
	    & > .col-lg-@{i} {
	    	float: left;
	        width: round( percentage( ( @i/12 ) ), 7 );
	    }
	    #columns (@i - 1);
	}
	#columns (0) {}

	div.row {
		#columns(12);
	}
}