
html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
}

#nav_bar
{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: green;
}



@keyframes mymove {
from {top:0px;}
to {top:-100px;}
}

/* Safari and Chrome */
@-webkit-keyframes mymove 
{
from {top:0px;}
to {top:-100px;}
}


#photo_stream
{
}

.photo
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.contents
{
    display: flex;
    float: left;
    width: 50%;
    
}





ui li사용해서 , photo 클래스 사용하지 않고 
flex는 ?
