@import "http://fonts.googleapis.com/earlyaccess/nanumgothic.css";

html, body {
	font-family: 'NanumGothicWeb', 'NanumGothic', 'Malgun Gothic', 'Helvetica', 'Apple SD Gothic Neo Medium', 'AppleGothic' !important;
	font-size: 20px;
	line-height: 1.3;
	width: 100%;
	height: 100%;
}

.fullPage {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(233, 234, 237, 1);
	padding: 250px 0;
}


.header {
	position: relative;
	width: 100%;
	background-color: rgba(233, 234, 237, 1);
	padding: 250px 0;
}

.subheader {
	position: relative;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	padding: 50px 0;
}

.large {
	font-weight: bold;
	color: rgb(231, 76, 60);
	font-size: 3em;
}

.medium {
	font-size: 1.5em;
	color: #666;
}


.small {
	margin-bottom: 20px;
	color: #666;
}

.black {
	color: black;
}

.profile {
	width : 100%;
	max-width : 250px;	/* same as .article .item */
	max-height : 150px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.theme-pic {
	-webkit-filter: blur(7px); 
	-moz-filter: blur(7px); 
	-o-filter: blur(7px); 
	-ms-filter: blur(7px); 
	filter: blur(7px);
}

.theme-pic:hover {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-filter: blur(0px); 
	-moz-filter: blur(0px); 
	-o-filter: blur(0px); 
	-ms-filter: blur(0px); 
	filter: blur(0px);
}

.member-desc {
	visibility : hidden;
	width : 250px;
	padding : 20px;
	position : absolute;
	background-image: linear-gradient(45deg, #FF5E3A, #FF2A68 100%);
	color: rgb(255, 255, 255);
	border: 0px;
	
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
}

br.sm {
	display: none;
}

@media all and (max-width: 992px) {
	.header, .fullPage {
		text-align: center;
	}
	.large {
		font-size: 2.2em;
	}
	.medium {
		font-size: 1.0em;
	}
	.small, .member-desc {
		font-size: 0.8em;
	}
}

@media all and (max-width: 768px) {
	.header, .fullPage {
		padding: 100px 0px;
	}
	.subheader {
		padding: 0px;
	}
	br.sm {
		display: inline;
	}
	.viewPic {
		height: 300px;
	}
}


.center {
	text-align: center;
}

.viewPic {
	border: 1px solid;
	overflow: hidden !important;
	margin-bottom: 10px;
	height: 600px;
	background-color: rgba(233, 234, 237, 1);
}

.button {
	border-radius: 6px;
	background-image: linear-gradient(45deg, #FF5E3A, #FF2A68 100%);
	color: rgb(255, 255, 255);
	border: 0px;
	cursor: pointer;
	display: block;
	font-family: 'NanumGothicWeb', 'NanumGothic', 'Malgun Gothic', 'Helvetica', 'Apple SD Gothic Neo Medium', 'AppleGothic' !important;
	font-size: 18px;
	height: 45px;
	margin: 10px auto;
	text-align: center;
	width: 300px;
	text-decoration: none;
	line-height: 45px;
}

.theme-pic {
	width: 100%;
}

.hidden {
	display: none;
}

input[type="text"], input[type="password"] {
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-transition-delay: 0s, 0s;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-property: border-color, box-shadow;
	-webkit-transition-timing-function: ease-in-out, ease-in-out;
	background-color: rgb(255, 255, 255);
	background-image: none;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	color: rgb(85, 85, 85);
	cursor: auto;
	display: block;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 34px;
	letter-spacing: normal;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	text-align: start;
	text-indent: 0px;
	text-shadow: none;
	transition-delay: 0s, 0s;
	transition-duration: 0.15s, 0.15s;
	transition-property: border-color, box-shadow;
	transition-timing-function: ease-in-out, ease-in-out;
	width: 300px;
	word-spacing: 0px;
	writing-mode: lr-tb;
}

#warning {
	background-color: rgb(242, 222, 222);
	border-bottom-color: rgb(235, 204, 209);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(235, 204, 209);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(235, 204, 209);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(235, 204, 209);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(169, 68, 66);
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 49px;
	line-height: normal;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	width: 300px;
	text-align: center;
}

select {
    -webkit-appearance: menulist-button;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    -webkit-rtl-ordering: logical;
    -webkit-transition-delay: 0s, 0s;
    -webkit-transition-duration: 0.15s, 0.15s;
    -webkit-transition-property: border-color, box-shadow;
    -webkit-transition-timing-function: ease-in-out, ease-in-out;
    -webkit-writing-mode: horizontal-tb;
    align-items: center;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: default;
    display: inline-block;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 34px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
    white-space: pre;
    width: 80px;
    word-spacing: 0px;
    writing-mode: lr-tb;
}

#birthday, #gender {
    font-size: 0.6em;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}