html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 13pt;
	overflow-x: hidden;
/* 	-webkit-overflow-scrolling: touch; */
}

#tAlertWrap{
	display: none;
}

body {
	background-color: #E9EAED;
}

h1{
	margin: 0;
	color: rgb(231,76,60);
	font-size: 1em;
}

header{
	width: 100%;
	height: 50px;
	padding: 5px;
	text-align: center;
}

section.photoSection{
/* 	margin-left:5%; */
	width: 100%;
	overflow: hidden;
}

article.photoArticle{
	overflow: hidden;
}

#scrollArea{
	font-size: 0;
}

div.photoDiv{
	display: inline-block;
	vertical-align: top;
	margin-right: 2%;
}

img{
	width: 100%;
	height: 100%;
}

@media all and (orientation:landscape){
	header, #contentsDiv, footer{
		display: none;
	}
	
	#tAlertWrap{
		width: 100%;
		height: 100%;
		vertical-align: middle;
		display: table;
	}
	
	alert{
		display: table-cell;
		font-size: large;
		text-align: center;
		width: 100%;
		line-height: normal;
		vertical-align: middle;
	}
	
	alert > p{
		color: rgb(231,76,60);
	}
}