

.pageCnt {
    width:100%;
    height:100%;
}

.size-wrap{
    height: 280px;
    position: relative;
    left : 50%;
    margin-left: -325px;
    width:650px;
}

.flickingWrapper{
    height:220px;
}

.flicking {
    height:100%;
    overflow:hidden;
}

.flicking ul{
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
}

.flicking ul li{
    list-style: none;
    width:100%;
    height:100%;
}

#recommend{
    padding-left: 15px;
    font-weight: bold;
    font-size : 20px
}

.recommend-footer> .qooq-info {
	float: left;
	padding-top: 5px;
}


.recommend-contents{
    border-top: 6px solid #d9230f;
    border-top-right-radius: 5px;
     
}

.recommend-body{
    font-size: 25px;
    border: ;
}

.recommend-footer{
    background-color: white;
    
}


.prev{
    position:absolute;
    top:95px;
    left:-40px;
}

.next{
    position:absolute;
    top:95px;
    right:-40px;
}

.flickingWrapper .flickPaging {
	margin-top : -30px;
    text-align:center;
    padding:10px 10px;

}

.flickingWrapper .flickPaging a {
    font-size : 25px;
    text-decoration: none;
    color: gray;
}

.flickingWrapper .flickPaging .on {
    color:#d9230f;;
}

@media (min-width : 767px) and (max-width: 993px) {
    .size-wrap{
        position: relative;
        left : 50%;
        margin-left: -250px;
        width:500px;
    }
    
}

	
@media (max-width: 767px) {
    .size-wrap{
        position: relative;
        left : 0px;
        margin-left: 0px;
        width:100%;
    }
    .prev{
        display: none;
    }
    .next{
        display: none;
    }
  
    
    .flicking {
        left:0;
        margin: auto;
        width:100%;
        height:100%;
        overflow:hidden;
    } 
}