/*
 * Input Text Type
 * 
 * medium
 */

.input-text-medium {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
			
	min-width : 200px;
	min-height : 30px;
	
	font-size : 1.1em;
}

/*
 * Button Interface
 * 
 * small
 * large
 */

.btn-small {
	width : 80px;
	height : 40px;
	line-height : 40px;
	
	text-align : center;
	
	color : white;
	
	border : 2px solid skyblue;
	
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
			
	background-color: skyblue;
}

.btn-small:hover {
	cursor : pointer;
	background-color: #89D9AA;
	border-color : #89D9AA;
}

.btn-large {
	width : 200px;
	height : 40px;
	line-height : 40px;
	
	text-align : center;
	
	color : white;
	
	border : 2px solid skyblue;
	
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
			
	background-color: skyblue;
}

.btn-large:hover {
	cursor : pointer;
	background-color: #89D9AA;
	border-color : #89D9AA;
}

/*
 * Image
 * 
 * border-radius
 * shadow
 */

.img-bdrad {
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
			border-radius: 30px;
}

.img-shadow {
	box-shadow: 10px 10px 5px #888888;
}
