<form id="login_form">
	<input type="text" class="error" name="email" placeholder="E-Mail" />
	<input type="password" name="password" placeholder="Password" />
	<div id="warning" class="hidden">LogIn Fail!</div>
	<!-- Add Click Listner By WooGenius-->
	<button id="login-btn" class="button" type="button">LogIn</button>
	<button id="signup-btn" class="button" type="button">Sign Up</button>
</form>